.App {
  text-align: center;
}
/* NAVIGATION ------------------------------------------- */

/* Main Menu Buttons */
h2 {
  color: green;
}
.main-menu-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.menu-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  width: 200px;
  margin: 20px;
  height: 200px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Return to home button in footer */
.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  width: 200px;
  height: 200px;
}
/* MODALS */
.launch-modal-btn {
  width: 200px;
}
/* CARDS ------------------------------------------------ */
.sightings-div, .individuals-div, .locations-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-div {
  border: 2px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  max-height: 800px;
  overflow-y: auto;
  /* max-width: 500px; */
}
.cards {
  border: 2px solid green;
  text-align: left;
  padding: 8px;
  margin: 8px;
  list-style-type: none;
  border-radius: 10px;
  width: 470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

table {
  border: 2px solid black;
  width: 700px;
}

