.App {
  text-align: center;
}
/* NAVIGATION ------------------------------------------- */

/* Main Menu Buttons */
.main-menu-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.sightings-menu-btn, .individuals-menu-btn {
  border: 2px solid black;
  width: 200px;
  margin: 20px;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
/* Return to home button in footer */
.menu-button {
  border: 2px solid black;
  width: 200px;
}
/* MODALS */
.launch-modal-btn {
  width: 200px;
}
/* CARDS ------------------------------------------------ */
.sightings-div, .individuals-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cards-div {
  border: 2px solid black;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 500px;
  overflow-y: auto;
  max-width: 500px;
}
.cards {
  border: 2px solid #e74c3c;
  text-align: left;
  padding: 8px;
  margin: 8px;
  list-style-type: none;
  border-radius: 10px;
  width: 470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

